section{
    .hero-section{
        background-image: url(../images/animate-image/background/dog.png);
        @include background;
        
         
        .hero-container{
            padding-bottom: 20px;
            height: calc(100vh);
            display: flex;
            align-items: flex-end;
            .content-text{
                
                @include padding-desktop;
                background-blend-mode: normal, color-burn;
                backdrop-filter: blur(20px);
                display: inline-flex;
                flex-direction: column;
                gap: 60px;
                border-radius: 12px 64px 12px 0px;
                border: 1px solid rgba(255, 255, 255, 0.10);
                .h1-text{
                    display: block;
                    @include heading_96;
                    color: $white;
                   }
                   .text{
                    display: flex;
                    gap: 76px;
                    
                    .p-text{
                        @include heading_20;
                        color: $white;
                        
                    }
            }
          
           }
        }
    }
    .gryming-section{
        background-color: $white-blue;
        @include padding-section;
        
        .gryming-container{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: space-between;
            gap: 80px;
            .help-gryming-text{
                padding: 40px;
                display: flex;
                gap: 94px;
                .parara{
                    width: 991px;
                }
                .h1-text{
                    display: block;
                    @include heading_78;
                    .help{
                        color: $grey;
                    }
                }
                .small-text{
                    .h1-text{
                        display: block;
                        color: $brown;
                        padding-bottom: 70px;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.10);
                        //не робит ботом
                    }
                    .p-text{
                        display: block;
                        padding-top: 20px;
                        @include heading_20;
                        width: 454px;
                    }
                }
            }
            .main-procedoor{
                display: flex;
                justify-content: flex-end;
                gap: 20px;
                
                .content{
                    display: flex;
                    background-color: $white;
                    @include padding-desktop;
                    flex-direction: column;
                    justify-content: space-between;
                    border-radius: 12px 64px 12px 12px;
                    width: 676px;
                    border: 1px solid var(--black-10, rgba(0, 0, 0, 0.10));
                    .types-text{
                        
                    }
                    .h1-text{
                        display: block;
                        @include heading_48;
                    }
                    .p-text{
                        width: 354px;
                        display: block;
                        @include heading_20;
                    }
                }
            }
        }
    }
    .types-grooming-section{
        @include padding-section;
        background-color: $white-blue;
        .types-grooming-container{
            background-color: $white;
            border-radius: 64px;
            margin-left: 20px;
            margin-right: 20px;
            padding: 120px 40px;
            img {
                transition: opacity 1.5s;
                position: sticky;
                top: 150px;
            }
            .content{
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                .text-types{
                    display: flex;
                    flex-direction: column;
                    align-content: flex-end;
                    flex-wrap: wrap;
                }
                .cards{
                    display: flex;
                    gap: 156px;
                    align-items: flex-start;
                    .parems{
                        width: 100%;
                    }
                    .types-grooming{
                        cursor: pointer;
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-start;
                        padding:40px 0 ;
                        border-bottom: 1px solid var(--black-10, rgba(0, 0, 0, 0.10));
                        opacity: 0.4000000059604645;
                        button{
                            @include heading_16;
                        }
                        .brown-text{
                            display: inline-flex;
                            @include heading_30;
                            color: $brown;
                        }
                        .text{
                            width: 470px;
                            display: flex;
                            flex-direction: column;
                            gap: 40px;
                            .h1-text{
                                display: inline-flex;
                                @include heading_30;
                                padding-bottom: 0;
                                border: none;
                                width: 100%;
                               
                            }
                            .p-text{
                                display: inline-flex;
                                @include heading_20;
                                width: 470px;
                            }
                        }
                    }
                }
                .types-text{
                    display: block;
                    @include heading_20;
                    color:$grey;
                    margin-bottom: 40px;
                }
                .h1-text{
                    display: inline-block;
                    @include heading_48;
                    width: 1170px;
                    padding-bottom: 80px;
                    border-bottom: 1px solid var(--black-10, rgba(0, 0, 0, 0.10));
                    .grey-text{
                        color: $grey;
                    }
                }
                    .types-grooming:hover{
                        opacity: 1;
                        transition: opacity 1.5s;
                    }
                    
               
                
            }
        }
    }
    .stages-section{
        background-color: #F8F8F8;
        @include padding-section;
        .stages-container{
            img{
                max-width: 100%;
            }
            .grids{
                margin-top: -70px;
                display: grid;
                grid-template-columns: [col1] 50% [col2] 23% [col3] 25%;
                grid-gap: 20px;
                grid-template-rows: [row1] 62% [row2] 85%;
                .h1-text{
                    display: block;
                    @include heading_30;
                    color: $brown;
                }
                .p-text{
                    @include heading_20;
                    display: block;
                }
                .two{
                    border-radius: 12px 64px 12px 12px;
                }
                .three{
                    border-radius: 12px 12px 64px 12px;
                }
                .four{
                    border-radius: 12px 64px 12px 12px;
                }
                .five{
                    border-radius: 12px 64px 12px 12px;
                }
                .two,.three,.four,.five{
                    border: 1px solid  rgba(0, 0, 0, 0.10);
                    background-color: $white;
                    @include padding-desktop;
                    display: flex;
                    flex-wrap: wrap;
                    align-content: space-between;
                    flex-direction: column;
                    justify-content: space-between;
                }
                .ped-one{
                    grid-column: 1 ;
                    grid-row: 1 / 3;
                    background-color: $brown;
                    border-radius: 12px 64px 12px 12px;
                    @include padding-desktop;
                    width: 890px;
                    flex-wrap: wrap;
                    align-content: space-between;
                    flex-direction: column;
                    justify-content: space-between;
                    display: flex;
                    @include background;
                    background-image: url(../../images/animate-image/background/cat-bg.png);
                        .p-text{
                            @include heading_30;
                            color: $white;
                            display: block;
                            width: 719px;
                        }
                        .end-one{
                            display: flex;
                            gap: 566px;
                            .h1-text{
                                @include heading_78;
                                color: $grey-blue;
                            }
                        }
                    
                }
            }
        }
    }
    .banner-section{
        background-color: #F8F8F8;
        @include padding-section;
        padding-top:240px ;
        
        .banner-container{
            display: flex;
            gap: 24px;
            background-color: $grey-blue;
            border-radius: 12px 64px 12px 0px;
            border: 1px solid rgba(255, 255, 255, 0.10);
            .banner-text{
                @include padding-desktop;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .h1-text{
                    display: block;
                    @include heading_78;
                    color: $brown;
                }
                .button-procedoor{
                    width: 100%;
                    background: none;
                    border: 1px solid $brown;
                    padding: 20px 0;
                    border-radius: 1000px;
                    @include heading_20;
                    color: $brown;
                }
            }
        }
    }
    .hero-about-section{
        padding-top: 144px;
        background-color: #F8F8F8;
        .hero-about-container{
            padding-bottom:80px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.10);
            
        }
    }
    .groomers-content-section{
        background-color: #F8F8F8;
        .groomers-content-container{
            border-bottom: 1px solid rgba(0, 0, 0, 0.10);
            @include padding-section;
            .h1-text{
                display: block;
                @include heading_48;
                width: 1106px;
            }
            .content{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                .p-text{
                    @include heading_20;
                    display: block;
                    margin-right: 234px;
                    width: 452px;
                    margin-top: 60;
                    margin-bottom: 80px;
                }
            }
           
        }
    }
    .command-section{
        background-color: #F8F8F8;
        .command-container{
            padding: 200px 0;
            text-align: center;
            .h1-text{
                display: inline-block;
                @include heading_96;
                width: 1358px;
                
                .brown-text{
                    color: $brown;
                }
            }
            .contant-card{
                margin-top: 120px;
                display: flex;
                justify-content: space-between;
                .p-text{
                    display: block;
                    @include heading_20;
                    color: rgba(0, 0, 0, 0.40);
                    text-align: left;
                }
                .cards{
                    display: flex;
                    justify-content: space-between;
                    gap: 20px;
                    .card{
                        @include padding-desktop;
                        background-color: $white;
                        text-align: left;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        gap: 120px;
                        border-radius: 12px 64px 12px 12px;
                        border: 1px solid  rgba(0, 0, 0, 0.10);
                        .start{
                            display: flex;
                            flex-direction: column;
                            gap: 40px;
                            align-items: flex-start;
                            .name-job{
                                gap: 20px;
                            }
                            .name{
                                display: block;
                                @include heading_48;
                            }
                            .job{
                                display: block;
                                @include heading_20;
                                color: rgba(0, 0, 0, 0.40);
                            }
                        }
                        .end{
                            .history{
                                display: block;
                                @include heading_20;
                                width: 495px;
                            }
                        }
                    }
                }
            }
            
        }
    }
    .reviews-section{
        background-color: #F8F8F8;
        padding-top: 200px;
        .reviews-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 95px;
            .h1-text{
                display: block;
                @include heading_96;
                width: 1191px;
                .brown-text{
                    color: $brown;
                }

            }
            button{
                width: 890px;
                @include heading_20;
                padding: 20px 0;
                background: none;
                border-radius: 1000px;
                border: 1px solid rgba(0, 0, 0, 0.10);
                cursor: pointer;
            }
            .cards{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                gap: 20px;
                .card{
                    border-radius:64px 12px  12px 12px;
                    border: 1px solid rgba(0, 0, 0, 0.10);
                    background-color: $white;
                    @include padding-desktop;
                    text-align: left;
                    display: flex;
                    flex-direction: column;
                    gap: 80px;
                    img{
                        width: 90px;
                        height: 90px;
                    }
                    .start{
                        display: flex;
                        flex-direction: column;
                        gap: 40px;
                        .jov-name{
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                            .name{
                                display: block;
                                @include heading_30;
                            }
                            .job{
                                display: block;
                                @include heading_16;
                                color:rgba(0, 0, 0, 0.40);
                            }
                        }
                    }
                    .end{
                        .history{
                            display: block;
                            width: 354px;
                            @include heading_20;
                        }
                    }
                }
                .two-card{
                    background-color: $white;
                    border-radius: 12px 64px 12px 12px;
                    border: 1px solid  rgba(0, 0, 0, 0.10);
                    
                }
            }
        }
    }
    .error-section{
        background-color: #F8F8F8;
        padding-top: 150px;
        padding-bottom: 150px;
        .error-container{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            img{
                margin-right: 480px;
            }
            .content{
                border-radius: 12px 64px 12px 12px;
                border: 1px solid rgba(0, 0, 0, 0.10);
                width: 1068px;
                margin-right: 0;
                @include padding-desktop;
                background-color: $white;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: stretch;
                gap: 120px;
                .h1-text{
                    display: block;
                    @include heading_78;
                    width: 913px;
                }
                .end{
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    .p-text{
                        margin-top: 57px;
                        display: block;
                        @include heading_30;
                        color: rgba(0, 0, 0, 0.40);
                    }
                    .buttom{
                        width: 484px;
                        @include heading_20;
                        padding: 20px 0;
                        background-color: $brown;
                        color: $white;
                        border: none;
                        border-radius: 1000px;
                    }
                }
            }
        }
    }
    .hero-block-section{
        background-color: #F8F8F8;
        padding-top: 200px;
        padding-bottom: 0px;
        .hero-block-container{
            display: flex;
            flex-direction: column;
            gap: 120px;
            .h1-text{
                @include heading_48;
                display: block;
                width: 1106px;
                .brown-text{
                    color: $brown;
                }
            }
            .prices{
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                img{
                    position: -webkit-sticky;
                    position: sticky;
                    top: 100px;
                }
                .padding-top{
                    border-top: 1px solid rgba(0, 0, 0, 0.10);;
                }
                .flex{
                    display: flex;
                    flex-direction: column;
                }
                .price{
                    display: flex;
                    justify-content: space-between;
                    width: 1170px;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
                    padding: 40px 0 ;
                    margin-right: 60px;
                    .brown-text{
                        @include heading_30;
                        color: $brown;
                        display: inline-flex;
                        width: 233px;
                    }
                    .content{
                        display: flex;
                        flex-direction: column;
                        gap: 80px;
                        max-width: 516px;
                        .text{
                            display: flex;
                            flex-direction: column;
                            gap: 40px;
                            .h1-text{
                                display: inline-flex;
                                @include heading_30;
                                max-width: 401px;
                            }
                            .p-text{
                                @include heading_20;
                                display: block;
                                max-width: 470px;
                            }
                        }
                        ul{
                            display: grid;
                            grid-template-columns: 1fr 1fr ;
                            padding: 0;
                            margin: 0;
                            text-align: left;
                            
                            li{
                                color: rgba(0, 0, 0, 0.40);
                                max-width: 172px;
                                margin-left: 20px;
                            }
                        }
                    }
                    .price-text{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        width: 234px;
                        text-align: right;
                        align-items: flex-end;
                        button{
                            font-size: 16px;
                        }
                        .end{
                            display: flex;
                            flex-direction: column;
                            gap: 20px;
                            
                            .brown-text-h1{
                                display: block;
                                @include heading_48;
                                color: $brown;
                            }
                            .grey-text{
                                opacity: 0.20000000298023224;
                                display: block;
                                @include heading_16;
                            }
                        }

                        
                    }
                }
            }
        }
    }
}